@font-face {
    font-family: calibril;
    src: url(fonts/calibril.ttf);
}

@font-face {
    font-family: paladise_script;
    src: url(fonts/paladise_script.ttf);
}
@font-face {
    font-family: futura;
    src: url(fonts/futura.ttf);
}